In [91]:
import mysql.connector

conn1 = mysql.connector.connect(user='root', password='Chahal@123',
                              host='127.0.0.1',
                              database='Data5408',auth_plugin='mysql_native_password')
conn2 = mysql.connector.connect(user='root', password='Chahal@123',
                              host='127.0.0.1',
                              database='Data5408',auth_plugin='mysql_native_password')
conn1.autocommit=False
conn2.autocommit=False

In [92]:
conn1.start_transaction()
conn2.start_transaction()
cursor1= conn1.cursor()
query1="SELECT * from customers_details where customer_zip_code_prefix = 01151 "
cursor.execute(query1)
ans=cursor.fetchall()
print(ans)

[(2, '060e732b5b29e8181a18229c7b0b2b5e', 1151, 'T2 City', 'SP')]

In [93]:
cursor2=conn2.cursor()
query2="SELECT * from customers_details where customer_zip_code_prefix = 01151 "
cursor2.execute(query2)
ans1=cursor2.fetchall()
print(ans1)

[(2, '060e732b5b29e8181a18229c7b0b2b5e', 1151, 'xx City', 'SP')]

In [94]:
query3="Update customers_details  SET customer_city='T1 City' where customer_zip_code_prefix = 01151"
cursor1.execute(query3)

In [95]:
query4="Update customers_details  SET customer_city='T2 City' where customer_zip_code_prefix = 01151"
cursor2.execute(query4)

DatabaseError: 1205 (HY000): Lock wait timeout exceeded; try restarting transaction

In [96]:
conn2.commit()
conn1.commit()